@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #f3eae8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    min-height: 100vh;
    margin: 0;
}

.logoalura {
    margin-left: 10px;
    padding-top: 10px;
    width: 7%;
}

.main_decodificador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 80px;
    gap: 70px;
    padding-bottom: 20px;
}

.cx_texto, .cx_resultado {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
}

.caixa_de_texto {
    width: 700px;
    height: 500px;
    padding: 10px;
    border: none;
    border-radius: 24px;
    resize: none;
    text-transform: lowercase;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #f3eae;

    
}

::placeholder {color: #1C1C1C;}
    .caixa_de_texto:focus {
        outline: none;
    }

::placeholder {color: #1C1C1C;}
    .caixa_resultado:focus {
        outline: none;
    }

.caixa_resultado {   
    width: 400px;
    height: 500px;
    padding: 10px;
    background: #fafafc;
    background-image: url(./imagens/lupaboneco.png);
    background-repeat: no-repeat;
    background-position:center top; 
    border: none;
    border-radius: 24px;
    color: #1C1C1C;
    resize: none;
    text-transform: lowercase;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    
}

.caixa_de_texto.focus {
    outline: none;
}


.buttons {
    display: flex;
    align-items:flex-end;
    position: absolute;
    gap: 10px;
    width: 30%;
    box-sizing: border-box;
    margin-top: 400px;

}

.btn_criptografar {
    background-color: #3b2b5f;
    border: 1px solid #230423;
    border-radius: 24px;
    color:aliceblue;
    cursor: pointer;
    height: 60px;
    width: 250px;
}

.btn_descriptografar {
    background-color:  #3b2b5f;;
    border: 1px solid #230423;
    border-radius: 24px;
    color: aliceblue;
    cursor: pointer;
    height: 60px;
    margin-left: 30px;
    width: 250px;
    
}

.btn_criptografar:hover {
    background-color: #7658ae;
    cursor: pointer;
    border-color: #3b2b5f;
}

.btn_descriptografar:hover {
    background-color: #7658ae;
    cursor: pointer;
    border-color: #3b2b5f;
}

.botao_cp_lp {
    display: flex;
    align-items:flex-end;
    position: absolute;
    width: 20%;
    box-sizing: border-box;
    margin-top: 180px;
    gap: 40px;
    bottom: 120px;
}

.btn_copiar, .btn_limpar {
    background-color:  #3b2b5f;;
    border: 1px solid #230423;
    border-radius: 24px;
    color: aliceblue;
    cursor: pointer;
    height: 50px;
    width: 250px;
    
}

.btn_copiar:hover {
    background-color: #7658ae;
    cursor: pointer;
}

.btn_limpar:hover {
    background-color: #7658ae;
    cursor: pointer;
}

.infos {
    margin-top: 270px;
    color: #1C1C1C;
    font-size: 18px;
    position: absolute;
}

.inforesultado {
    margin-top: 270px;
    position: absolute;
    color: #1C1C1C;
    font-size: 18px;
    line-height: 0.3;
    text-align: center;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #1a1d25;
    color: aliceblue;
    height: 30px;
    padding: 5px 0 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1200px) { 
    .main_decodificador{
         width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px; 
        
    }

    .cx_texto , .cx_resultado {
        box-sizing: border-box;
        border: none;
        border-radius: 24px;
        text-transform: lowercase;
        position:static;
        overflow: hidden;
       
    }

    .caixa_de_texto , .caixa_resultado {
        width: 100%;
        
    }

    .buttons , .botao_cp_lp {
        overflow:visible;
        
    }

    .btn_criptografar , .btn_descriptografar {
      width: 50%;
      font-size: 0.4em;
    
    }

    .btn_copiar , .btn_limpar {
       width: 50%;
       font-size: 0.4em;
    }
    
    .infos , .inforesultado {
        overflow: visible;
        font-size: 0.4em;
        
    }
}